# Node
node_modules/
dist/
.npm/

# Next.js
.next/
out/

# Clarinet
.cache/
deployments/
settings/Mainnet.toml

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
